VITE_BACKEND_URL=http://localhost:8080
VITE_GOOGLE_CLIENT_ID=your-google-oauth-client-id
VITE_GOOGLE_MAPS_API=your-google-maps-api-key
VITE_CLOUDINARY_API=your-cloudinary-api-url
VITE_METERED_TURN_APP=your-metered-app-name
VITE_METERED_TURN_API_KEY=your-metered-turn-credential-api-key
VITE_METERED_TURN_URL=
VITE_TURN_URLS=
VITE_TURN_USERNAME=
VITE_TURN_CREDENTIAL=
